---
import {formatDate} from "../sarissaUtils";

const { post } = Astro.props;
---


    <div class="flex items-center space-x-3">
      {post.frontmatter.image &&
        <div class="avatar">
          <div class="mask mask-squircle w-12 h-12">
            <img src={post.frontmatter.image} />
          </div>
        </div>
      }
      <div class="w-full">
        <a href={post.url}><div class="font-bold">{post.frontmatter.title}</div></a>
        <div class="text-sm opacity-50">
          {post.frontmatter.description}
        </div>
        <div class="card-actions justify-end">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
</svg>
      {formatDate(post.frontmatter.date)}
    </div>
      </div>
    </div>
